<div [formGroup]="form">
    <label [attr.for]="question.key">{{question.label}}</label>
  
    <div [ngSwitch]="question.controlType">
      <ion-item *ngSwitchCase="'textbox'" >
      <input [formControlName]="question.key"
              [id]="question.key" [type]="question.type">
       </ion-item>       
              <ion-item *ngSwitchCase="'dropdown'">
              <select [id]="question.key"  [formControlName]="question.key">
        <option *ngFor="let opt of question.options" [value]="opt.key">{{opt.value}}</option>
      </select>
    </ion-item>
              <ion-item *ngSwitchCase="'date'" >
              <ion-datetime [id]="question.key"  displayFormat="DDDD DD-MM-YYYY" [formControlName]="question.key"
              [dayNames] = "dayNames"
              [doneText]= "doneText"
              [cancelText] = "cancelText"
              ></ion-datetime>
            </ion-item>
  
    </div> 
  
    <div class="errorMessage" *ngIf="!isValid">{{question.label}} is required</div>
  </div>